.container {
  padding: 1em;
}

h1 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  width: 10%;
  float: left;
  display: block;
  background-color: orangered;
  color: black;
}
li:hover{
  background-color:red;
  cursor: pointer;
}

p {
  text-align: center;
}
label{
background-color: orangered;
text-align: center;
font-size: 1.5em;
width: 15em;
}

.seatsRow {
  height: 4em;
  padding: 0;
  padding-left: 1em;
  background-color: orangered;
}
.seat{
  position: relative;
  background-color:white;
}
.seat:hover{
  cursor: pointer;
  background-color: aliceblue;
}
.bookSeating{
    padding: 0;
}
