<div class="ui-g ui-fluid container ">

  <div class="ui-g-12">

    <h1>My reservations</h1>

  </div>
  <div class="ui-g-6 moviereservations">
    <h3> Movies reserved</h3>
    <ul>
      <li *ngFor="let movie of reservedMovies">
        {{movie.name}}
        <br/> {{movie.length}} minutes
        <br/> {{movie.language}}
      </li>
    </ul>
  </div>

  <div class="ui-g-6 moviereservations">
    <h3> Parking reserved</h3>
    <ul>
        <li *ngFor="let reservation of reservedParking">
          <span> {{reservation.id}}</span>
          <span> {{reservation.place}}</span>
          <span> {{reservation.plate}}</span>
      
        </li>
      
      </ul>
  </div>


</div>
