<h2>Reservations</h2>
<ul>
  <li *ngFor="let reservation of parkingReservations">
    <span> {{reservation.id}}</span>
    <span> {{reservation.place}}</span>
    <span> {{reservation.plate}}</span>

  </li>

</ul>

<button (click)="getReservationById(1)"></button>

<div class="ui-g ui-fluid container">
<div class="ui-g-12">
  <h2> Reserve your parking</h2>
  <h4> Based on your number of tickets for movie ({{places}}) you are elegible for {{place}} parking places</h4>
</div>


<div class="ui-g-5 parking">
    <div class="ui-g-9 parkingRow">
        <div class="ui-g-2 theater">
            <p id="entrance"> Entrance 1</p>
          </div>
        <div class="ui-g-2 parkingPlace">
          <p>1</p>
        </div>
        <div class="ui-g-2 parkingPlace">
          <p>2</p>
        </div>
        <div class="ui-g-2 parkingPlace">
          <p>3</p>
        </div>
        <div class="ui-g-2 parkingPlace">
          <p>4</p>
        </div>
        <div class="ui-g-2 parkingPlace">
          <p>5</p>
        </div>
      </div>
      <div class="ui-g-3 info ">
        <div class="ui-g-12">
          <p> Reserved places x</p>
        </div>
      </div>
      <div class="ui-g-9 parkingRow">
          <div class="ui-g-2 theater">
              <p id="entrance"> Entrance 2</p>
            </div>
        <div class="ui-g-2 parkingPlace">
          <p>1</p>
        </div>
        <div class="ui-g-2 parkingPlace">
          <p>2</p>
        </div>
        <div class="ui-g-2 parkingPlace">
          <p>3</p>
        </div>
        <div class="ui-g-2 parkingPlace">
          <p>4</p>
        </div>
        <div class="ui-g-2 parkingPlace">
          <p>5</p>
        </div>
      </div>
      <div class="ui-g-3"><button pButton type="button" class="ui-button-raised ui-button-rounded"> Complete reservation</button> </div>
</div>
</div>