.container{
background-color: green;
}
.theater{
    background-color: blue;
    text-align: right;
}
.parking{
    background-color: green;
}
.parkingPlace{
    background-color: purple;
    text-align: center;
}
.info{
    background-color: orangered;
    text-align: center;
}

#entrance{
    font-weight: bold;
}